@import "variables";

@mixin contactLink {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2.5rem;
  background: $textLink;
  border-radius: 64px;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
}

@mixin mobileHeaderLarge {
  font-size: 2.25rem;
  line-height: 3rem;
  text-align: center;
  color: $textDark;
  margin: 0 0 2rem;
}

@mixin desktopHeaderMedium {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
}

@mixin mobileText {
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  margin: 0 0 56px;
}

@mixin consoleBar {
  height: 40px;
  background: $consoleGrey-1;
  border-radius: 16px 16px 0px 0px;
  display: flex;
  align-items: center;
}

@mixin consoleDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  background: $consoleGrey-3;
  border-radius: 50%;
  &:first-child {
    margin-left: 16px;
  }
}

@mixin consoleFont {
  font-family: Roboto Mono;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

%listDecoration {
  &::before {
    content: "";
    display: inline-block;
    background-image: url(../assets/img/small-tick-green.svg);
    width: 12px;
    height: 9px;
    margin: 0 10px 0.8px 0px;
  }
}

@mixin greenTick {
  @extend %listDecoration;
}

@mixin blueTick {
  @extend %listDecoration;
  &::before {
    background-image: url(../assets/img/small-tick-light-blue.svg);
  }
}

@mixin dot {
  @extend %listDecoration;
  &::before {
    background: $blueLight;
    width: 4px;
    height: 4px;
    margin-bottom: 3px;
    color: $blueLight;
    border-radius: 50%;
  }
}
