$textDefault: #425a70;
$textDark: #234361;
$textLink: #4da8ff;

$blue: #1070ca;
$blueLight: #dbeaf7;
$green: #06c847;

$consoleGrey-1: #1e1e1e;
$consoleGrey-2: #212528;
$consoleGrey-3: #464a4d;
$consoleGrey-4: #808082;
$consoleGrey-5: #a3a3a3;
$consoleLink: #14b5d0;

$deviceMedium: 768px;
$deviceLarge: 1280px;
