.flexbox-wrapper {
  display: flex;
  flex-flow: column wrap;
}

.contact {
  background: $blueLight;
  padding: 64px 16px 88px;
  text-align: center;

  &__header {
    @include mobileHeaderLarge;
  }

  &__text {
    @include mobileText;
  }

  &__link {
    @include contactLink;
  }
}

.media {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  gap: 3.5rem;
  margin-bottom: 64px;

  &__item {
    width: 40px;
  }
}
