.console-bar {
  @include consoleBar;
}

.console-dot {
  @include consoleDot;
}

.project-wrapper {
  padding: 24px 16px;
}

.grid-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
  margin: 0 0 8px;
  &:nth-child(3) {
    margin-bottom: 24px;
  }
}

.label {
  text-align: right;
}

.title {
  font-weight: bold;
  color: #fff;
}

.description {
  color: $consoleGrey-5;
}

.projects {
  padding: 64px 16px 88px;
  padding: 64px 16px 88px;
  max-width: 900px;
  margin: 0 auto;

  &__header {
    @include mobileHeaderLarge;
  }

  &__text {
    @include mobileText;
    margin-bottom: 3rem;
    @media (min-width: $deviceMedium) {
      @include text;
    }
  }
}

.project {
  @include consoleFont;
  box-shadow: (0px 4px 16px rgba(0, 0, 0, 0.25));
  background: $consoleGrey-2;
  border-radius: 1rem;
  overflow: hidden;
  color: $consoleGrey-4;
  @media (min-width: $deviceMedium) {
    font-size: 1rem;
  }

  &__header {
    font-weight: normal;
    font-size: 13px;
    @media (min-width: $deviceMedium) {
      font-size: 1rem;
    }
  }

  &__link {
    color: $consoleLink;
  }
}
