.console-bar {
  @include consoleBar;
}

.console-dot {
  @include consoleDot;
}

.project-wrapper {
  padding: 24px 16px;
}

.grid {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
  margin: 0 0 8px;
  &:nth-child(3) {
    margin-bottom: 24px;
  }
}

.label {
  text-align: right;
}

.title {
  font-weight: bold;
  color: #fff;
}

.description {
  color: $consoleGrey-5;
}

.projects {
  padding: 64px 16px 0;

  &__header {
    @include mobileHeaderLarge;
    color: $textDark;
    margin: 4rem 0 2rem;
  }

  &__text {
    @include mobileText;
    margin-bottom: 3rem;
  }
}

.project {
  @include consoleFont;
  box-shadow: (0px 4px 16px rgba(0, 0, 0, 0.25));
  margin-bottom: 1.5em;
  background: $consoleGrey-2;
  border-radius: 1rem;
  overflow: hidden;
  color: $consoleGrey-4;

  &__header {
    font-weight: normal;
    font-size: 13px;
  }

  &__link {
    color: $consoleLink;
  }
}
